.listItemContainer {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
}
.groupListItem {
  padding: 10px;
  color: hsl(212, 16%, 67%);
  -webkit-transition: all 0.3s;
  transition: all 0.3s;
  display: inline-block;
}
.groupListItem:hover {
  color: hsl(210, 33%, 97%);
}
.groupListItem::after {
  content: "";
  display: block;
  width: 0;
  height: 2px;
  background: hsl(210, 33%, 97%);
  -webkit-transition: width 0.3s;
  transition: width 0.3s;
  margin-top: 5px;
}

.groupListItem:hover::after {
  width: 100%;
}
.logoutBtnContainer {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
}
.logoutBtn {
  background: transparent;
  height: 40px;
  border-radius: 18px;
  width: 98px;
  border: none;
  cursor: pointer;
  font-size: 16px;
  -webkit-transition: all 0.5s ease;
  transition: all 0.5s ease;
  color: hsl(210, 16%, 82%);
}
.logoutBtn:hover {
  background: hsl(210, 16%, 82%);
  color: hsl(230, 49%, 34%);
  border: none;
}
.usernameWrapper {
  overflow-wrap: break-word;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  color: hsl(214, 15%, 91%);
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-top: 30px;
}

@media only screen and (max-width: 600px) {
  .groupNav {
    top: 0px;
  }

  .logoutBtn {
    background: hsl(210, 16%, 82%);

    color: hsl(230, 49%, 34%);
  }
}
