.groupListItem {
  padding: 10px;
  color: hsl(210, 10%, 53%);
  transition: all 0.5s ease-in;
  width: 80px;
}
.groupNav {
}
.groupListItem:hover {
  border-bottom: 1px solid hsl(210, 16%, 82%);
  color: hsl(210, 16%, 82%);
}
.groupListItem:hover::after {
  border: 0px;
  color: hsl(210, 10%, 53%);
}
@media only screen and (max-width: 600px) {
  .groupNav {
    top: 0px;
  }
}
