label {
  display: inline-block;
  position: absolute;

  -webkit-transition: all 300ms ease-in;

  transition: all 300ms ease-in;
}

.field-active {
  -webkit-transform: translateY(-25px);
  transform: translateY(-25px);
  font-size: 0.9em;
}

.floating-label {
  -webkit-appearance: none !important;
  border: none;
  outline: none;
  padding-left: 15px;
  padding-top: 5px;
  padding-bottom: 5px;
  border-radius: 7px;
  box-shadow: inset 0 2px 2px hsla(0, 0%, 0%, 0.1);
}
.floating-label-active {
  -webkit-appearance: none !important;
  border: none;
  outline: none;
  border-radius: 7px;
  padding-left: 15px;
  padding-top: 5px;
  padding-bottom: 5px;
}
.formLabel {
  padding-left: 10px;
  padding-top: 5px;
  position: absolute;
  transition: all 300ms ease-in;
}

.password-active {
  -webkit-transform: translateY(-25px);
  transform: translateY(-25px);
  font-size: 0.9em;
}
.floating-password {
  -webkit-appearance: none !important;
  border: none;
  outline: none;
  padding-left: 15px;
  padding-top: 5px;
  padding-bottom: 5px;
  border-radius: 7px;
  box-shadow: inset 0 2px 2px hsla(0, 0%, 0%, 0.1);
}
.floating-password-active {
  -webkit-appearance: none !important;
  border: none;
  outline: none;
  border-radius: 7px;
  padding-left: 15px;
  padding-top: 5px;
  padding-bottom: 5px;
}

.field-group {
  margin-bottom: 41px;
  padding-top: 20px;
  color: hsl(210, 20.3%, 25.1%);
}
.submitBtn {
  display: inline-block;
  width: 41%;
  border: none;
  outline: none;
  background: hsl(225, 57%, 67%);
  padding-top: 8px;
  padding-bottom: 6px;
  border-radius: 8px;
  font-size: 19px;
  color: hsl(210, 20.3%, 25.1%);
  box-shadow: 0 1px 3px hsla(0, 0%, 0%, 0.2);
  transition: color 0.7s;
  cursor: pointer;
}
.submitBtn:hover {
  color: hsl(214, 15%, 91%);
}
.errorMsg {
  margin: 0;
  color: hsl(360, 82%, 62%);
  padding-top: 10px;
  padding-bottom: 10px;
  font-size: 14px;
  margin-right: 34px;
}
.errorDiv {
  position: relative;
  bottom: 15px;
  left: 76px;
  width: 187px;
  background: hsl(209, 18%, 26%);
  border-radius: 10px;
}
