label {
  display: inline-block;
  position: absolute;
  -webkit-transition: all 200ms ease;
  transition: all 200ms ease;
}

.field-active {
  -webkit-transform: translateY(-25px);
  transform: translateY(-25px);
  font-size: 0.9em;
  color: hsl(214, 33%, 97%);
}

.floating-label {
  -webkit-appearance: none !important;
  border: none;
  outline: none;
  padding-left: 15px;
  padding-top: 5px;
  padding-bottom: 5px;
  border-radius: 7px;
  -webkit-box-shadow: inset 0 2px 2px hsla(0, 0%, 0%, 0.1);
  box-shadow: inset 0 2px 2px hsla(0, 0%, 0%, 0.1);
}
.formLabel {
  padding-left: 10px;
  padding-top: 5px;
  position: absolute;
  -webkit-transition: all 200ms ease;
  transition: all 200ms ease;
  cursor: auto;
}

.password-active {
  -webkit-transform: translateY(-25px);
  transform: translateY(-25px);
  font-size: 0.9em;
  color: hsl(214, 33%, 97%);
}
.floating-password {
  border: none;
  outline: none;
  padding: 5px 0px 5px 15px;
  border-radius: 7px;
  -webkit-box-shadow: inset 0 2px 2px hsla(0, 0%, 0%, 0.1);
  box-shadow: inset 0 2px 2px hsla(0, 0%, 0%, 0.1);
}

.field-group {
  margin: 35px 0;
  color: hsl(210, 20%, 25%);
}
.submitBtn {
  display: inline-block;
  width: 41%;
  border: none;
  outline: none;
  background: hsl(225, 57%, 67%);
  padding-top: 8px;
  padding-bottom: 6px;
  border-radius: 8px;
  font-size: 19px;
  color: hsl(210, 20.3%, 25.1%);
  -webkit-box-shadow: 0 1px 3px hsla(0, 0%, 0%, 0.2);
  box-shadow: 0 1px 3px hsla(0, 0%, 0%, 0.2);
  -webkit-transition: color 0.7s;
  transition: color 0.7s;
  cursor: pointer;
}
.submitBtn:hover {
  color: hsl(214, 15%, 91%);
}
.errorMsg {
  margin: 0;
  color: hsl(360, 82%, 62%);
  padding-top: 10px;
  padding-bottom: 10px;
  font-size: 14px;
  margin-right: 34px;
}
.errorDiv {
  width: 187px;
  background: hsl(209, 18%, 26%);
  border-radius: 10px;
  margin: 44px auto;
}
.loginMsgDiv {
  position: relative;
  bottom: 15px;
  left: 76px;
  width: 187px;
  background: hsl(209, 18%, 26%);
  border-radius: 10px;
}
.loginMsg {
  margin: 0;
  color: hsl(225, 57%, 67%);
  padding-top: 10px;
  padding-bottom: 10px;
  font-size: 14px;
  margin-right: 34px;
}
@media only screen and (max-width: 370px) {
  .errorDiv {
    left: 55px;
  }
}
