.chatWindow {
  background: hsl(209, 14%, 35%);
  width: 72%;
  height: 100vh;
  margin: 0 auto;
  position: absolute;
  top: 50px;
  left: 241px;
}

.msgSubmitBtn {
  padding: 0px;

  border: 1px solid;
  background: transparent;
  width: 72px;
  height: 34px;
}
.chatInput {
  width: 100%;
  background: transparent;
  border: 1px solid hsl(225, 57%, 67%);
  outline: none;
  flex: auto;
  margin-left: 13px;
  transition: all 0.7s ease;
}
.chatInput:focus {
  border-bottom: 1px solid white;
}
@media only screen and (max-width: 600px) {
  .chatWindow {
    width: 100%;
    left: 0;
    height: 94vh;
  }
  .putToBottom {
    position: fixed;
    bottom: 0;
    width: 100%;
    min-height: 77px;
    background: hsl(225, 57%, 67%);
  }
  .chatInputContainer {
    display: flex;
  }
  .msgSubmitBtn {
    padding: 0px;
    margin-right: 0 auto;
    width: 72px;
    height: 34px;
    margin-top: 15px;
  }
}
