.putToBottom {
  position: fixed;
  bottom: 0;
  width: inherit;
  min-height: 77px;
  background: hsl(210, 20%, 25%);
}
.chatWindow {
  width: calc(100% - 241px);
  height: 94vh;
  margin: 0 auto;
  position: absolute;
  top: 50px;
  left: 241px;
}
.messageContainer {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  padding-top: 12px;
  border-bottom: 1px solid hsl(209, 24%, 18%);
  word-wrap: break-word;
}
.messageWindow {
  height: 86%;
  overflow: auto;
}
.userName {
  padding-left: 17px;
  color: hsl(210, 16%, 82%);
  font-family: "Roboto", sans-serif;
  font-weight: 500;
}

.message {
  background: hsl(210, 24%, 19%);
  display: inline-block;
  max-width: 91%;
  margin-left: 10px;
  border-radius: 6px;
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
  font-family: "Work Sans", sans-serif;
  padding: 11px;
  color: hsl(216, 33%, 97%);
}

.msgSubmitBtn {
  padding: 0px;
  margin-left: auto;
  background: transparent;
  width: 72px;
  margin-top: 15px;
  height: 34px;
  border-radius: 6px;
  margin-right: 8px;
  cursor: pointer;
  border: 2px solid hsl(234, 62%, 26%);
  color: hsl(221, 68%, 93%);
  -webkit-transition: all 0.5s ease-in;
  transition: all 0.5s ease-in;
}
.msgSubmitBtn:hover {
  background: hsl(234, 62%, 26%);
}
.msgSubmitBtn:hover:after {
  background: transparent;
}
.chatInput {
  width: 75%;
  background: transparent;
  border: 1px solid hsl(210, 20%, 25%);
  outline: none;
  margin-top: 11px;
  height: 34px;
  font-size: 16px;
  margin-left: 13px;
  -webkit-transition: all 0.7s ease;
  transition: all 0.7s ease;
  color: hsl(210, 16%, 82%);
}
.chatInputContainer {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}
.chatInput:focus {
  border-bottom: 1px solid hsl(211, 10%, 53%);
}
@media only screen and (max-width: 600px) {
  .chatWindow {
    width: 100%;
    left: 0;
    height: 94vh;
  }
  .msgSubmitBtn {
    padding: 0px;
    margin-right: 0 auto;
    background: hsl(234, 62%, 26%);
  }
}
@media only screen and (min-width: 601px) and (max-width: 991px) {
  .chatWindow {
    height: 94vh;
    margin: 0 auto;
    position: absolute;
    top: 50px;
    left: 241px;
  }
}
