.loginContainer {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  height: 100%;
}
.formDiv {
  text-align: center;
  background: hsl(209, 14%, 37%);
  width: 347px;
  margin: 0 auto;
  max-width: 100%;
  height: auto;
  border-radius: 6px;
  color: hsl(211, 33%, 97%);
  -webkit-box-shadow: 0 15px 30px hsla(0, 0%, 0%, 0.5);
  box-shadow: 0 15px 30px hsla(0, 0%, 0%, 0.5);
}
.loginTxt {
  padding-top: 17px;
  padding-bottom: 12px;
  font-weight: 500;
}
.linkWrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
.linkP {
  font-weight: 500;
  font-size: 16px;
  margin-left: 10px;
  color: hsl(211, 33%, 97%);
  -webkit-transition: border-bottom 0.5s;
  transition: border-bottom 0.5s;
}
.linkP:hover {
  border-bottom: 1px solid;
}

@media only screen and (max-width: 370px) {
  .formDiv {
    width: 300px;
  }
}
