.formDiv {
  text-align: center;
  position: relative;
  top: 126px;
  background: hsl(209, 14%, 37%);
  width: 347px;
  margin: 0 auto;
  max-width: 100%;
  height: auto;
  border-radius: 6px;
  color: hsl(209, 20%, 25%);
  box-shadow: 0 2px 3px hsla(221, 68%, 93%, 0.1);
}
.loginTxt {
  padding-top: 17px;
  padding-bottom: 12px;
  font-weight: 500;
}
.linkWrapper {
  display: flex;
  padding-left: 10px;
}
.linkP {
  font-weight: 500;
  font-size: 16px;
  margin-left: 10px;
  color: hsl(227, 42%, 51%);
  transition: border-bottom 0.5s;
}
.linkP:hover {
  border-bottom: 1px solid;
}

@media only screen and (max-width: 370px) {
  .formDiv {
    width: 300px;
  }
  .linkWrapper {
    padding-left: 45px;
  }
}
@media only screen and (min-width: 371px) and (max-width: 489px) {
  .linkWrapper {
    padding-left: 60px;
  }
}
@media only screen and (min-width: 480px) and (max-width: 767px) {
  .linkWrapper {
    padding-left: 58px;
  }
}

@media only screen and (min-width: 768px) and (max-width: 991px) {
  .linkWrapper {
    padding-left: 60px;
  }
}
@media only screen and (min-width: 992px) {
  .linkWrapper {
    padding-left: 70px;
  }
}
